#editor-container {
  grid-template-columns: auto 1fr;

  & > * {
    font-family: "Google Sans Mono", "Roboto Mono", Menlo, monospace;
    font-size: 16px;
    line-height: 1.3em;
  }
}

#errors-container {
  /* First row, second column. */
  grid-row: 1;
  grid-column: 2;

  color: red;
  font-size: 14px;

  ul {
    list-style-type: "- ";
    margin-bottom: 0.5em;
    padding-left: 2ch;
  }
}

.editor-line-num {
  grid-column: 1;

  /* .text-secondary */
  color: var(--bs-secondary);
  /* .text-end */
  text-align: end;
}

.editor-content-overlay {
  grid-column: 2;
  overflow-wrap: anywhere;
  /* .ps-1 + 1px border */
  padding-left: calc(0.25rem + 1px);
  white-space: pre-wrap;
  white-space-collapse: preserve;
  z-index: 0;
}

.line-1 {
  /* .pt-1 + 1px border */
  padding-top: calc(0.25rem + 1px);
}

#editor {
  /* Entire second column (after errors container). */
  grid-column: 2;
  grid-row: 2 / -1;

  background: transparent;
  caret-color: black;
  color: transparent;
  /* .p-1 */
  padding: 0.25rem;
  resize: none;
  text-indent: 1ch;
  /* Above the content so the caret is visible. */
  z-index: 1;
}

/** Styles for text overlay. */

.indent-level {
  position: relative;

  &::before {
    border-left: 1px solid rgba(0 0 0 / 0.2);
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.trailing-spaces {
  background-color: rgba(255 0 0 / 0.2);
}

.token-number {
  color: #1155cc;
}

.token-string {
  color: #008000;
}

.token-range {
  color: #f7981c;
}

.token-literal {
  color: #1155cc;
}

.token-parse_error {
  background-color: rgba(255 0 0 / 0.2);
  text-decoration: spelling-error;
}
